html {
    box-sizing: border-box;
}

/* slap on this class if content box is needed */
.legacy {
    box-sizing: content-box;
}       

*, *::before, *::after {
    box-sizing: border-box;
}

/* remove defaults */
* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

/* improve text rendering */
body{
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    min-width: fit-content;
}

/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

/* Create a root stacking context */
#root, #__next {
    isolation: isolate;
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }

/* Center anything horizontally */
.container{
    max-width: 1000px;
    padding: 0 1.4rem;
    margin: 0 auto;
}


/* parent navbar element */
#navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: #f4f4f4;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* nested container element */
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

/* navbar anchors */
.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 500;
  align-items: center;
  
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    border-bottom: #F88158 solid;
}
  
.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

/* logo */
.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 10%;
    width: 30px;
    height: 30px;
    margin-inline-start: 0.5em;
  }

/* accessible toggle button */
#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* icon bars */
.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: #F88158;
}

/* animate the hamburger icon to become a close icon (X) */
#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: #F88158;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
  background-color: #077ea7;
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
  padding: 1em;
}

.container-filler {
    padding-top: 64px;
    background-color: aquamarine;
    /* width: auto; */
}
/* filler */
.filler{
    background-color: aquamarine;
    padding: 5px;
    
}

/* .input-button {
    border: none;
    padding: 8px 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: beige;
    border-radius: 15px;
    font-weight: bold;

    color: cadetblue;
    box-shadow: 0 3px cadetblue;
}
.input-button:hover{
    background-color: blanchedalmond;
}

.input-button:active {
    background-color: blanchedalmond;
    box-shadow: 0 1px #345254;
    transform: translateY(1px);
} */
/* 
.input-container {
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    display: flex;
}
 */

.Card {
    padding: 1px;
    border-radius: 10px;
    background: linear-gradient(-67deg, rgba(#ffffff, .7), blanchedalmond);
    overflow: hidden;
    box-shadow: 
      -2px -2px 6px rgba(#fff, .6),
      2px 2px 12px #c8d8e7;
    width: 380px;
  }
  
  .CardInner {
    padding: 16px 16px;
    background-color: #0491a3;
    border-radius: 10px;
  }
  
  .outer-container {
    display: flex;
  }
  
  .Icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 12px;
    box-shadow: -2px -2px 6px #00b4cb, 1px 2px 6px #0491a3;
      
    svg {
      transform: translate(px, -1px);    
    }
}
  
  label {
    display: block;
    color: #ffffff;
    margin-bottom: 12px;
    font-weight: 400;
    background: linear-gradient(45deg,#f3f3f3, #efefef);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .input-container {
    width: 100%;
  }
  
  input {
/* 
    --top-shadow: inset 1px 1px 3px #3b2c2c, inset 2px 2px 6px #171212;
    --bottom-shadow: inset -2px -2px 4px rgba(212, 45, 45, 0.7);  */

    background-color: #069aad;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    border-radius: 10px;
    transition: all 240ms ease-out;
    width: 100%;

    
    &::placeholder {
      color: #f3f3f3;
      font-size: small;
    }
    
    &:focus {
      outline: none;
      color: rgb(223, 223, 223);
      background-color: lighten(#161d22, 3%);
    }

    box-shadow: inset 1px 1px 3px #05616d, inset 2px 2px 6px #067b8a;
    /* 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */

  };
    
  .input-container {
    border: 1px solid black;
    /* --top-shadow: inset 1px 1px 3px #000000, inset 2px 2px 6px #1f1f1f;
    --bottom-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.7); */
    
    position: relative;
    /* border-radius: 10px; */
    overflow: hidden;
    
    &:before,
    &:after {
      left: 0;
      top: 0;
      display: block;
      content: "";
      pointer-events: none;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    


    /* &:before {
      box-shadow: var(--bottom-shadow);
    }
    
    &:after {
      box-shadow: var(--top-shadow);
    } */
  }
/* End of input */



.api-container{
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.api-container>*{
    flex: 1 1 120px;
    border: #077ea7 solid 1px;
}

.show-more-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-more-btn {
    background: whitesmoke;
    border: 1px solid;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded='true'] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }

    .api-container{
        flex-direction: column;
    }

  }
