html {
    box-sizing: border-box;
}

/* slap on this class if content box is needed */
.legacy {
    box-sizing: content-box;
}       

*, *::before, *::after {
    box-sizing: border-box;
}

/* remove defaults */
* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

/* improve text rendering */
body{
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    min-width: fit-content;
}

/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

/* Create a root stacking context */
#root, #__next {
    isolation: isolate;
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }

/* Center anything horizontally */
.container{
    max-width: 1000px;
    padding: 0 1.4rem;
    margin: 0 auto;
}


/* parent navbar element */
#navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: #f4f4f4;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* nested container element */
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

/* navbar anchors */
.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 500;
  align-items: center;
  
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    transition: color 0.4s ease;

}
  
.navbar-link:is(:focus, :hover) {
    color: whitesmoke;
    background-color: #0491a3;
}

/* logo */
.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 10%;
    width: 30px;
    height: 30px;
    margin-inline-start: 0.5em;
}

/* accessible toggle button */
#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* icon bars */
.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: #F88158;
}

/* animate the hamburger icon to become a close icon (X) */
#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: #F88158;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
  background-color: #077ea7;
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
  padding: 1em;
}

.container-filler {
    padding-top: 64px;
    background-color: aquamarine;
}

.outer-container {
    padding-top: 64px;
}
/* filler */
.filler{
    background-color: aquamarine;
    padding: 5px;
    
}

.Card {
    padding: 70px 0px 40px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
  
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.card-header-right{
    text-align: -webkit-center;
}
.CardInner {
    padding: 16px 16px;
    background-color: #0491a3;
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgb(8 1 1 / 10%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
  
.form-container {
    display: flex;
}
  
.Icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 12px;
    box-shadow: 0px -1px 3px #05616d, 1px 2px 6px #0491a3;
    cursor: pointer;
}
  
.Icon:active {
    /* box-shadow: 0 1px #05616d; */
    background-color: #0491a3;
    transform: translateY(1px);
}

label {
    display: block;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    background: linear-gradient(45deg,#f3f3f3, #efefef);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button.openai-btn {
    background: #0491a3;
    min-width: 80px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px -1px 3px #05616d, 1px 2px 6px #0491a3;
    cursor: pointer;
    margin-bottom: 4px;
    border: none;
}

button.unsplash-btn {
    background: #0491a3;
    min-width: 80px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px -1px 3px #05616d, 1px 2px 6px #0491a3;
    cursor: pointer;
    border: none;
}

.input-container {
    width: 100%;
}
  
input {
    background-color: #069aad;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    border-radius: 10px;
    transition: all 240ms ease-out;
    width: 100%;

    &::placeholder {
      color: #f3f3f3;
      font-size: small;
    }
    
    &:focus {
      outline: none;
      color: rgb(255, 255, 255);
      background-color: lighten(#161d22, 3%);
    }

    box-shadow: inset 1px 1px 3px #05616d, inset 2px 2px 6px #067b8a;
    /* 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */

};
    
.input-container {
    
    position: relative;
    /* border-radius: 10px; */
    overflow: hidden;
    
    &:before,
    &:after {
      left: 0;
      top: 0;
      display: block;
      content: "";
      pointer-events: none;
      width: 100%;
      height: 100%;
      position: absolute;
}
}
/* End of input */



.api-container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.api-container>*{
    flex: 1 1 120px;
    padding: 1px;
}

.show-more-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

.show-more-btn {
    background-color: #0491a3;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 24px;
    margin: 30px 0px 30px;
    box-shadow: inset 0 -3em 3em rgb(8 1 1 / 10%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    transition-duration: .4s;
}

.show-more-btn:hover {
    transition-duration: .4s;
    color: white;
    background-color: #00707f;
    cursor: pointer;
}

[hidden]{
    display:none;
}

.alert-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}

.alert-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* loading Icon */
#loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0491a3;
    padding-bottom: 40px;
}
.hidden{
    display: none;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded='true'] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }

    .api-container{
        /* flex-direction: column; */
        justify-content: center;
    }

}
